.btn { 
    background-color: #141414;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0.5em 0.8em;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover {
    background-color: white;
    box-shadow: 0 5px 10px black;
    color: black;
}
.btnDK {
    background-color: #414141;
    border-radius: 10px;
    color: white;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}
.btnDK:hover {
    background-color: #f3f3f3;
    color: black;
}
.btn-light-grey:hover {
    background-color: #414141;
    color: white;
}
.btn-hW {
    background-color: white;
    color: black;
}
.btn-light-grey {
    background-color: #f3f3f3;
    color: black;
}
.btn-hW:hover {
    background-color: #141414;
    color: white;
}